
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h2, h3 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

input, select, button {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: 1000px; */
    
}

#subject, #dueDate{
    width: 1100px;
    text-align: center;
    font-size: 25px;
}

#start3Text, #toggleListBtn {
    width: 1132px;
    text-align: center;
    font-size: 20px;
}

#start2Text, #startText {
    width: 200px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



label {
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    margin-top: 25px;
    padding-left: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 24px;
    border-color: #333;
    color: white;
    font-weight: bold;
}

/* Viktighetsfärger */
.low {
    background-color: #4CAF50; /*grön*/
}

.medium {
    background-color: #FFEB3B; /*gul*/
    color: black; /*svart text på gul bakgrund*/
}

.high {
    background-color: #F44336; /* röd */
}

/* Ta bort knapp */
.remove-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #555;
}




/*Epstein listan*/
#popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup saker sådant */
.popup-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 24px;
    width: 90%;
    max-width: 450px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Dölj popup */
#popup.hidden {
    display: none;
}

/* Stäng-knapp (X) */
#closePopup {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    float: right;
    color: #333;
}

#closePopup:hover {
    color: #000;
}


