body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h2, h3 {
    color: #333;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

input, select, button {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    margin-top: 25px;
    padding-left: 20px;
    
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 24px;
    border-color: #333;
    color: white;
    font-weight: bold;
}

/* Viktighetsfärger */
.low {
    background-color: #4CAF50; /*grön*/
}

.medium {
    background-color: #FFEB3B; /*gul*/
    color: black; /*svart text på gul bakgrund*/
}

.high {
    background-color: #F44336; /* röd */
}

/* Ta bort knapp */
.remove-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #555;
}
